@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;700&display=swap');

* {
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: radial-gradient(orange 5%, #fec306) fixed;
  padding: 5rem 2.5rem;
}

h1, h2, h3, h4, h5, h6 {
  text-transform: uppercase;
  font-weight: 700;
}

a {
  color: var(--red);
  text-decoration: underline;
}

.visually-hidden {
  display: none;
}