.contact-main {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  img {
    border-radius: 50%;
    width: 10rem;
  }
  section {
    margin: 1rem;
  }
}