.projects-main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.category-select-container {
  button {
    margin: 0.5rem;
    background: none;
    border: none;
    font-size: 1.2rem;
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
  }
}

.active-category {
  text-decoration: underline;
}

.project-article {
  text-align: center;
  margin: 1rem 0rem;
  width: 50vw;
  img {
    width: 100%;
    margin-top: 0.5rem;
  }
}
