.projects-main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.category-select-container {
  button {
    margin: 0.5rem;
    background: none;
    border: none;
    font-size: 1.2rem;
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
  }
}

.active-category {
  text-decoration: underline;
}

.project-article {
  text-align: center;
  margin: 1rem 0rem;
  width: 50vw;
  img {
    width: 100%;
    margin-top: 0.5rem;
  }
}

.logo {
  display: block;
  height: 1.5rem;
  width: 1.5rem;
  margin: 0 1rem;
}

.html-logo {
  background: url('../../images/html5.svg') no-repeat;
}

.js-logo {
  background: url('../../images/javascript.svg') no-repeat;
}

.vue-logo {
  background: url('../../images/vue.svg') no-repeat;
}

@media (max-width: 1000px) {
  .project-article {
    width: 80vw;
  }
}
